<div class="col-md-4" *ngFor="let estu of estudiantes">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{estu.carnet}}
            {{estu.carnet}}
        </div>
        <div class="card-body">
            <p>{{estu.nombre}}</p>
        </div>
    </div>
</div>