<!-- Pruebas -->
<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <input type="text" name="carnet" [(ngModel)]="estudiante.carnet"  placeholder="Carnet Estudiante" class="form-control"
                        autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="nombre" [(ngModel)]="estudiante.nombre"  placeholder="Nombre" class="form-control"
                        autofocus>
                </div>
                
                <button class="btn btn-success btn-block" (click)="guardarEstudinate()">
                    Save
                </button>
            </form>
        </div>
    </div>
</div>